<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      <p>Name: {{$ctrl.user.userName}}</p>
      
      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

    </div>
    <div class="col-md-10">

      <table>
        <thead>
          <th>Name</th>
          <th>Authority Level</th>
          <th>Options</th>
        </thead>

        <tbody>

            <tr ng-repeat="user in $ctrl.users | filter:$ctrl.query">
                <td><strong>{{user.userName}}</strong></td>
                <td>{{user.authorityLevel}}</td>
                <td>

                    <button ng-click="$ctrl.promote(user, 'ADMIN')" ng-hide="user.authorityLevel === 'ADMIN'">Promote To Admin</button>
                    <button ng-click="$ctrl.promote(user, 'BOOK_PROVIDER')"  ng-hide="user.authorityLevel !== 'NORMAL_USER'">Promote To Book Provider</button>
                </td>
              </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>